<ion-card id="floating-panel">
  <ion-card-content>
      <ion-list>       
          <ion-item>
              <ion-label floating>Pick up location</ion-label>
              <ion-input id="pickup" type="text"></ion-input>
          </ion-item>      
          <ion-item>
              <ion-label floating>Drop off location</ion-label>
              <ion-input id="dropoff" type="text"></ion-input>
          </ion-item>
      </ion-list>
      <button ion-button (tap)="calculateAndDisplayRoute()">Button</button>
  </ion-card-content>
</ion-card>