<ion-card id="floating-panel">
  <ion-card-content>
      <ion-list>       
          <ion-item>
              <ion-range min="10" max="10000" [(ngModel)]="area" (ngModelChange)="changeArea($event)" color="secondary">
                <ion-label range-left>10</ion-label>
                <ion-label range-right>100</ion-label>
              </ion-range>
          </ion-item>
      </ion-list>
      <button ion-button (tap)="saveBoundaries()">Start</button>
  </ion-card-content>
</ion-card>
<div #map id="map"></div>
