<ion-card id="floating-panel">
  <ion-card-content>
      <ion-list>       
          <ion-item>
              <ion-range min="1000" max="10000" [(ngModel)]="area" (ngModelChange)="changeArea($event)" [pin]="true" color="secondary">
                <ion-label range-left>1km</ion-label>
                <ion-label range-right>10km</ion-label>
              </ion-range>
          </ion-item>
          <button *ngIf="orderInArea == true" ion-button (tap)="takeOrder()">Take</button>
          <button *ngIf="timer != undefined" (tap)="cancelOrder()" ion-button>Cancel Order</button>
          <button (tap)="showOrdersInArea()" ion-button>Search</button>
      </ion-list>
  </ion-card-content>
</ion-card>
<div #map id="map"></div>
